@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --primary: #F2C94C;
  --black: #333333;
  --width-break: 600px
}

body {
  margin: 0;
  font-family: 'Kalam', cursive;
  color: #333333;
}

nav {
  background-color: var(--primary);
  text-align: center;
}

nav div {
  font-size: 2rem;
  padding: 1rem;
}

main {
  margin: auto;
  padding: 1rem;
  max-width: var(--width-break);
  text-align: center;
}

textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 20vh;
  margin-top: 2rem;
  font-size: large;
  font-family: inherit;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

button {
  background-color: var(--primary);
  border: none;
  margin: 1rem 0rem;
  padding: 1rem 2rem;
  font-family: 'Kalam', cursive;
  font-size: large;
  border-radius: 0.5rem;
}

#translate-output {
  box-sizing: border-box;
  width: 100%;
  min-height: 10vh;
  max-height: 20vh;
  overflow: scroll;
  border: 1px solid var(--black);
  padding: 1rem;
  font-size: large;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--primary);
  text-align: center;
}

footer div {
  font-size: x-large;
}

footer p {
  max-width: var(--width-break);
  margin: auto;
}